<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="cssStyle.css">
</head>
<body>
<div>
	<div align="right" class="top">
		<input type="button" value="홈" class="menu" onclick = "location.href = 'main' ">
		<input type="button" value="자기소개" class="menu" onclick="location.href = 'selfview '">
		<input type="button" value="내사진" class="menu" onclick="location.href='picture'">
		<input type="button" value="몇시d에요" class="menu">
	</div>

	<div align="center" class="body">
		<h1> 웹 프론트엔드 개발자!</h1><br>
		<h4>아 아 아르헨티나</h4><br>
		<h4>아 아 아르헨티나</h4><br>
		<input type="button" value="자기소개" style="width: 150pt; height: 150pt; ">
		<input type="button" value="네사진" style="width: 150pt; height: 150pt;"><br><br>
		
		<img alt="map.png" src="map.png">
	</div>

	<div class="foot" align="center">
		<h6> 너의 주소</h6><br>
		<h6> 너의 이메일</h6>
	</div>

</div>
</body>
</html>